.advantages__promo {
    font-size: 24px;
    line-height: 30px;
    color: @dark_blue;
    display: block;
    text-align: center;
    margin-bottom: 27px;
    @media @mobile {}
    @media @tablet {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 0;
    }
    @media @desktop {
        font-size: 50px;
        line-height: 60px;
        width: 100%;

    }

}

.advantages__promo:nth-child(2) {
    @media @mobile {}
    @media @tablet {
        padding: 0px 20px;
        width: 390px;
        margin-left: auto;
        margin-right: auto;
    }
    @media @desktop {
        width: 700px;
        margin-left: auto;
        margin-right: auto; //        padding: 0 220px 0 220px;
    }

}




//.advantages__slogan {
//    padding-top: 40px;
//    /* margin-bottom: 114px; */
//    background-color: #fff;
//    padding-left: 20px;
//    padding-right: 20px;
//    padding-bottom: 1px;
//
//    @media @mobile {}
//    @media @tablet {
//
//        padding-top: 50px;
//        padding-bottom: 45px;
//
//
//    }
//    @media @desktop {
//        padding-top: 68px;
//        padding-bottom: 70px;
//    }
//
//}
.advantages__block {
    position: relative;
    background-color: @grey;
    @media @mobile {
        padding-top: 86px;
        padding-bottom: 284px;
        background-image: url(../img/iphone-screen-mobile@1x.png);
        background-repeat: no-repeat;
        background-position: 50% 109%;
    }
    @media @tablet {
        padding-top: 0;
        padding-bottom: 0;
        background: none;
        background-color: @grey;

    }
    @media @desktop {
        padding-top: 362px;
    }
}



.advantages__block:before {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        background-image: url(../img/iphone-screen-3-tablet@1x.png);
        background-repeat: no-repeat;
        width: 268px;
        height: 481px;
        display: block;
        content: '';
        position: absolute;
        z-index: 2;
        left: 21px;
        bottom: 0;

    }
    @media @desktop {
        display: none;
    }
}

.advantages__text--last {
    @media @mobile {}
    @media @tablet {
        padding-bottom: 4px;
    }
    @media @desktop {}

}

.advantages__block .container {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.advantages__item {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    @media @mobile {
        margin-bottom: 35px;
    }
    @media @tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 25px;
    }
    @media @desktop {
        width: 33.33%;
    }

}

.advantages__item--first:before {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        position: absolute;
        content: '';
        width: 230px;
        height: 302px;
        top: -358px;
        z-index: 2;
        left: 35px;
        background-image: url(../img/iphone-screen-1-desktop@1x.png);
        background-position: center;
        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
            background-image: url(../img/iphone-screen-1-desktop@2x.png);
        }
    }

}

.advantages__item--second:before {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        position: absolute;
        content: '';
        width: 230px;
        height: 302px;
        top: -358px;
        z-index: 2;
        left: 45px;
        background-image: url(../img/iphone-screen-2-desktop@1x.png);
        background-position: center;
        @media (min-resolution: @retina-dpi),
        (min-resolution: @retina-dppx) {
            background-image: url(../img/iphone-screen-2-desktop@2x.png);
        }
    }

}

.advantages__item--last:before {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        position: absolute;
        content: '';
        width: 230px;
        height: 302px;
        top: -358px;
        z-index: 2;
        left: 52px;
        background-image: url(../img/iphone-screen-3-desktop@1x.png);
        background-position: center;
        @media (min-resolution: @retina-dpi),
        (min-resolution: @retina-dppx) {
            background-image: url(../img/iphone-screen-3-desktop@2x.png);
        }
    }

}

.advantages__item--first {
    @media @mobile {}
    @media @tablet {
        padding-top: 78px;
    }
    @media @desktop {
        padding: 0;
    }

}

.advantages__clone:after {
    position: absolute;
    content: '';
    background-image: url(../img/bg-triangle-white.svg);
    left: 0;
    background-size: 100%;
    width: 100%;
    background-position: top;
    top: 0;
    height: 200px;

    background-repeat: no-repeat;

    @media @mobile {
        top: 0px;
    }
    @media @tablet {
        top: 0px;
    }
    @media @desktop {
        top: 0;
        height: 22%;

    }
}

.advantages__headline {
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    @media @mobile {}
    @media @tablet {
        width: 320px;
        text-align: left;
        padding: 0px 10px;
    }
    @media @desktop {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        width: 100%;
        font-size: 30px;
        line-height: 30px;
        padding: 0 20px;
        text-align: center;
    }

}

.advantages__item--first .advantages__headline {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-left: 41px;
    }

}


.advantages__item--second .advantages__text {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding: 0 16px;
    }
}

.advantages__item--first .advantages__headline {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-left: 22px;
        padding-right: 33px;
    }

}

.advantages__item--last .advantages__headline {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-left: 32px;
        padding-right: 21px;
    }

}

.advantages__item--last .advantages__text--last {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-left: 19px;
        padding-right: 10px;
    }

}

.advantages__text {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.3px;
    font-size: 14px;
    line-height: 24px;
    @media @mobile {}
    @media @tablet {
        width: 320px;
        text-align: left;
    }
    @media @desktop {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 25px;
    }

}

.advantages .container {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

    }

}

.advantages__slogan .container {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

}

.advantages__slogan {
    @media @mobile {
        padding-top: 40px;
    }
    @media @tablet {
        padding-top: 50px;
        padding-bottom: 45px;
    }
    @media @desktop {
        padding-top: 68px;
        padding-bottom: 70px;
    }

}

.advantages__clone {
    position: relative;
}

.advantages__text:first-child {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        width: auto;
        padding-left: 30px;
        padding-right: 42px;
        margin-top: 25px;
    }

}

.advantages {
    width: 100%;
}
