.contacts__proposal {
    font-size: 24px;
    line-height: 29px;
    @media @mobile {}
    @media @tablet {
        font-size: 40px;
        line-height: 40px;
    }
    @media @desktop {}

}

.contacts__slogan {
    text-align: center;
    padding-top: 42px;
    margin-bottom: 37px;
    @media @mobile {}
    @media @tablet {
        padding-top: 30px;
        margin-bottom: 31px;
    }
    @media @desktop {}

}

.contacts__proposal {
    @media @mobile {}
    @media @tablet {
        width: 100%;
        display: block;
        line-height: 48px;
    }
    @media @desktop {
        font-size: 50px;
        line-height: 50px;
    }

}

.contacts__headline {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    @media @mobile {}
    @media @tablet {
        margin-bottom: 8px;
    }
    @media @desktop {}

}

.contacts__link {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    display: block; //    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    color: @cherry;

}

.contacts__item--address .contacts__headline {
    margin-bottom: 7px
}

.contacts__invitations {
    margin-bottom: 29px;
    position: relative;
    @media @mobile {}
    @media @tablet {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
    @media @desktop {}

}

.contacts__item--phone,
.contacts__item--mail {
    @media @mobile {}
    @media @tablet {
        width: 50%;
    }
    @media @desktop {}

}

.contacts__item--address {
    @media @mobile {}
    @media @tablet {
        width: 100%;
        margin-top: 6px;
    }
    @media @desktop {}

}

.contacts__item--address .contacts__link {
    @media @mobile {}
    @media @tablet {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    @media @desktop {}

}

.contacts__item {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        width: 33.33%;
    }

}

.contacts__item--phone {
    margin-bottom: 24px;
}

.contacts__item--mail {
    margin-bottom: 29px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 1;
    }

}

.contacts__map {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(../img/bg-map-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    @media @mobile {}
    @media @tablet {
        height: 380px;
    }
    @media @desktop {}

}

.contacts__map:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 123px;
    top: 0;
    background-image: url(../img/bg-triangle-white-footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.contacts__map img {
    display: none;
}

.contacts__map iframe {
    height: 100%;
    width: 100%;
}

.contacts__map:after {
    width: 16px;
    height: 16px;
    position: absolute;
    content: '';
    background-color: @cherry;
    border-radius: 50%;
    top: 93px;
    left: 142px;
    border: solid 10px @white;
}

.contacts {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {}

}

.contacts .container {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        width: 969px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

}
