.main__subtitle {
    padding: 0px 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.3px;
    color: @dark_blue;
    display: block;
    margin-bottom: 34px;
    @media @mobile {}
    @media @tablet {
        line-height: 30px;
        font-size: 18px;
        padding: 0px 50px;
        margin-bottom: 0;
        width: 620px;
        margin-right: auto;
        margin-right: auto;
        margin-left: auto;
    }
    @media @desktop {
        font-size: 18px;

    }

}

.form__first-block .main__subtitle--mob-tab {
    @media @mobile {
        display: block;
    }
    @media @tablet {
        display: none;
    }
    @media @desktop {
        display: none;
    }

}

.form__first-block .main__subtitle--desktop {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        display: block;
    }
    @media @desktop {
        display: block;
        width: 910px;
    }

}

.form__fieldset {
    padding: 0 20px;
    color: @cherry;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    @media @mobile {}
    @media @tablet {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin-bottom: 48px;
    }
    @media @desktop {
        padding: 0 2px;
        color: #d22856;
        padding-right: 35px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

}

.form__fieldset:last-child {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        margin-bottom: 0;
    }

}

.form__user {
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    padding-left: 22px;
    display: block;
    @media @mobile {}
    @media @tablet {
        padding-left: 0;
        width: auto;
        padding-right: 20px;
        padding-top: 11px;
    }
    @media @desktop {}

}


.form__text {
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 20px;
    letter-spacing: 0.5px;
    border: solid 2px @grey;
    color: @dark_blue;
    font-family: 'Open Sans', 'Arial', sans-serif;

}

.form__text:hover {
    border: solid 2px @dark_blue;
}

.form__text:active {
    border: solid 2px @cherry;
    outline: none;
}

.form__text:focus {
    border: solid 2px @cherry;
    outline: none;
}

.form__choice {
    padding: 0 40px;
    color: @cherry;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    display: block;
    text-align: center;

    @media @mobile {
        width: 100%;
    }
    @media @tablet {
        width: auto;
        padding: 0 40px;
    }
    @media @desktop {}

}

.form__checkbox .form__choice {
    background-color: @grey;
    padding-top: 38px;
    @media @mobile {}
    @media @tablet {
        background-color: inherit;
        padding: 0;
        margin: 0;
    }
    @media @desktop {}

}

.form__adventure {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 10px;
    /* padding-bottom: 42px; */
    margin-bottom: 42px;
}

.form__li {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding: 0;
        width: 260px;
    }

}


.form__checkbox,
.form__radio,
.form__radio .form__choice {
    background-color: @grey;
    @media @mobile {}
    @media @tablet {
        background-color: inherit;
    }
    @media @desktop {}

}


.form__li {
    position: relative;

}

.form__li .form__indicator::after {
    position: absolute;
    top: 7px;
    left: -1px;
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    box-shadow: inset 0 0 0 3px @dark_grey;
    background-color: white;
    border-radius: 3px;
}

.form__li input[type='checkbox']:checked + .form__indicator::after {
    background-image: url(../img/icon-yes-check.svg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}

.form__li input[type='checkbox'] + .form__indicator:hover::after {
    box-shadow: inset 0 0 0 3px @dark_blue;
    cursor: pointer;
}

.form__li input[type='checkbox'] + .form__indicator:active::after {
    box-shadow: inset 0 0 0 3px @cherry;
}


.form__radio-item .radio_indicator::after {
    position: absolute;
    top: 3px;
    left: 20px;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: white;
    content: '';
    box-shadow: inset 0 0 0 10px white;
    border: 2px solid #DDDFE0;
}


.form__radio-item input:checked + .radio_indicator::after {
    background-color: @cherry;
}

.form__radio-item input[type='radio'] + .radio_indicator:hover::after {
    border: 2px solid @dark_blue;
}

.form__radio-item input[type='radio'] + .radio_indicator:active::after {
    border: 2px solid @cherry;
}

.form__adventure {
    position: relative;

}

.form__indicator:hover::before {
    cursor: pointer;
}

.form__adventure {
    //    position: relative;
    padding-left: 69px;
}

.form__check {
    display: none;
}


.form__common .form__checkbox {
    @media @mobile {}
    @media @tablet {
        order: 3;
        border: 2px solid @grey;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 55px;
    }
    @media @desktop {
        width: 100%;

    }

}

.form__ul {
    margin-bottom: 6px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

}

.form__common .form__contacts {
    padding-top: 10px;
    @media @mobile {}
    @media @tablet {
        order: 2;
        border: 2px solid @grey;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 38px;
        margin-bottom: 57px;
    }
    @media @desktop {
        width: 100%;
        padding-right: 25px;
        padding-left: 54px;

        margin-top: 57px;

    }

}

.form__flex-block {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        display: flex;
        justify-content: space-between;
    }

}

.form__common .form__textarea {
    margin-bottom: 43px;
    @media @mobile {}
    @media @tablet {
        order: 4;
        border: 2px solid @grey;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 66px;
    }
    @media @desktop {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

}

.form__radio .form__choice {
    padding-top: 40px;
    margin-bottom: 24px;
    @media @mobile {}
    @media @tablet {
        display: block;
        padding: 0 20px;
    }
    @media @desktop {}

}

.form__adventure {
    position: relative;
}



.form__adventure {
    font-size: 18px;
    line-height: 30px;
}

.form__radio-item {
    margin-bottom: 45px;
}

.form__options {
    .visually-hidden;
}

.form__radio-item:last-child {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        margin-bottom: 0;
    }

}

.form__common .form__radio {
    padding-bottom: 2px;
    margin-bottom: 39px;
    @media @mobile {}
    @media @tablet {
        order: 1;
        border: 2px solid @grey;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 58px;
    }
    @media @desktop {
        width: 46%;
        margin: 0;
        margin-top: 5px;
    }

}


.form__textarea-center {
    padding-left: 20px;
    padding-right: 20px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-left: 0;
        padding-right: 0;
    }

}

.form__common {
    position: relative;
    @media @mobile {}
    @media @tablet {
        margin-top: 66px;
        display: flex;
        flex-direction: column;
    }
    @media @desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.form__field {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    color: @dark_blue;
    margin: 0 auto;
    height: 200px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {}

}

.form__button {
    display: block;
    padding: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    line-height: 30px;
    text-transform: uppercase;
    background: #2aab6d;
    margin-bottom: 36px;
    @media @mobile {}
    @media @tablet {
        width: 300px;
        margin: 0;
    }
    @media @desktop {}

}

.form__button-span b {
    color: @cherry;
}

.form__button-span {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    @media @mobile {}
    @media @tablet {
        width: 178px;
    }
    @media @desktop {}

}

.form .container {
    @media @mobile {}
    @media @tablet {
        padding-top: 59px;
    }
    @media @desktop {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

}

.form__common .form__name {
    @media @mobile {}
    @media @tablet {
        width: 660px;
        margin-left: auto;
        margin-right: auto;
        order: 0;
        margin-bottom: 12px;
    }
    @media @desktop {
        width: 50%;
        margin: 0;
        margin-top: 15px;
    }

}

.form__sending {
    @media @mobile {}
    @media @tablet {
        order: 5;
        display: flex;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;

    }
    @media @desktop {
        width: 100%;
    }

}

.form__sending .form__button-span--mob-tab {
    @media @mobile {
        display: block;
    }
    @media @tablet {
        display: block;
    }
    @media @desktop {
        display: none;
    }

}

.form__sending .form__button-span--desktop {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        display: none;
    }
    @media @desktop {
        display: block;

    }

}

.form__radio-itemst {

    @media @mobile {}
    @media @tablet {
        margin-top: 21px;
        padding-left: 38px;
        margin-bottom: 58px;
    }
    @media @desktop {
        margin-top: 24px;
        padding-left: 51px;
        margin-bottom: 58px;
    }

}

.form__contacts .form__fieldset {
    @media @mobile {}
    @media @tablet {
        flex-direction: column;
    }
    @media @desktop {
        width: 412px;

    }

}

.form__contacts .form__choice {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        margin-bottom: 32px;
        display: block;
    }
    @media @desktop {
        margin-bottom: 28px;
    }

}

.form__phone .form__text,
.form__mail .form__text {
    @media @mobile {}
    @media @tablet {
        order: 0;
    }
    @media @desktop {}

}

.form__phone .form__user,
.form__mail .form__user {
    @media @mobile {}
    @media @tablet {
        order: 1;
        padding-left: 19px;
    }
    @media @desktop {}

}

.form__phone {

    @media @mobile {}
    @media @tablet {
        margin-bottom: 15px;
    }
    @media @desktop {}

}

.form__mail {
    @media @mobile {}
    @media @tablet {
        padding-top: 10px;
        margin-bottom: 25px;
    }
    @media @desktop {
        padding-top: 0;
    }

}

.form__checkbox .form__choice {
    @media @mobile {}
    @media @tablet {
        letter-spacing: 0.3px;
        padding: 0 40px;
    }
    @media @desktop {}

}

.form__checkbox .form__ul {
    @media @mobile {}
    @media @tablet {
        padding: 24px 0px 7px 38px;
    }
    @media @desktop {
        margin-top: 35px;
        padding: 0;
        margin-bottom: 19px;
        padding-right: 60px;
        padding-left: 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}

.form__textarea-center .form__field {
    @media @mobile {}
    @media @tablet {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        line-height: 30px;
        padding: 21px;
        /* color: #283645; */
        /* margin: 0 auto; */
        height: 190px;
        padding-top: 16px;
        display: block;
        resize: none;
        margin-top: 20px;
        margin-bottom: 54px;

        font-family: 'Open Sans', 'Arial', sans-serif;

    }
    @media @desktop {
        width: 100%;
        height: 127px;
        margin-bottom: 42px;
    }

}

.form__sending .form__button-span {
    @media @mobile {}
    @media @tablet {
        width: 183px;
        padding-top: 19px;
        letter-spacing: 0.3px;
    }
    @media @desktop {
        width: 315px;
    }

}

.form__name .form__user {
    @media @mobile {}
    @media @tablet {
        padding-top: 23px;
    }
    @media @desktop {}
}

.form {
    @media @mobile {}
    @media @tablet {
        margin-bottom: 58px;
    }
    @media @desktop {}

}

.form__radio-itemst .form__adventure {
    @media @mobile {
        padding-left: 89px;
    }
    @media @tablet {
        padding-left: 79px;
    }
    @media @desktop {}

}

.form__textarea .form__choice {
    @media @mobile {
        margin-bottom: 17px;
    }
    @media @tablet {}
    @media @desktop {}

}

.form__button:hover {
    background-color: #1C9B5E;
}

.form__button:active {
    color: #2AAB6D;
    background-color: #1C9B5E;
}

.form__li .form__adventure {
    @media @mobile {}
    @media @tablet {
        padding-left: 59px;
        letter-spacing: 0.4px;
    }
    @media @desktop {}

}

.form__flex-block .form__user {
    @media @mobile {}
    @media @tablet {
        position: relative;
    }
    @media @desktop {}

}

.form__flex-block .form__user::before {
    @media @mobile {}
    @media @tablet {
        position: absolute;
        content: '';
        display: block;
        width: 58px;
        height: 58px;
        background-color: red;
        z-index: 2;
        top: -60px;
        right: 2px;
    }
    @media @desktop {}

}

.form__mail .form__user::before {
    @media @mobile {}
    @media @tablet {
        background-image: url(../img/icon-mail.svg);
        background-repeat: no-repeat;
    }
    background-color: @grey;
    background-position: center;
    @media @desktop {}

}

.form__phone .form__user::before {
    @media @mobile {}
    @media @tablet {
        background-image: url(../img/icon-phone.svg);
        background-repeat: no-repeat;
    }
    background-color: @grey;
    background-position: center;
    @media @desktop {}

}

.form__first-block .main__subtitle--desktop {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding: 0px 60px;
    }

}

.form {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        margin-bottom: 0;
    }

}

.form__li {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {}

}

.form__li:nth-child(1) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 0;
    }

}

.form__li:nth-child(2) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 3;
    }

}

.form__li:nth-child(3) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 1;
        margin-left: 16px;
    }

}

.form__li:nth-child(4) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 4;
        margin-left: 18px;
    }

}

.form__li:nth-child(5) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 2;
        width: 206px;
    }

}

.form__li:nth-child(6) {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        order: 6;
        width: 208px;
    }

}

.form__popup {
    z-index: 3;

    content: '';
    width: 780px;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: none;


    background: linear-gradient(to top, @grey 43%, white 0%);

    box-shadow: 0 1px 29px 0 rgba(0, 1, 1, 0.2);
    @media @mobile {
        width: 320px;

    }
    @media @tablet {
        width: 460px;

        background: linear-gradient(to top, #F2F2F2 38%, white 0%);

    }
    @media @desktop {}

    h2 {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        margin-top: 41px;
        margin-bottom: 3px;
        @media @mobile {
            font-size: 18px;
            line-height: 24px;
            margin-top: 39px;
        }
        @media @tablet {
            margin-left: auto;
            margin-right: auto;
            width: 210px;
            display: block;
            margin-bottom: 21px;
            margin-top: 37px;
        }
        @media @desktop {}

    }
    p {
        font-size: 18px;
        line-height: 24px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        letter-spacing: 0.4px;
        text-align: center;
        margin-bottom: 87px;
        @media @mobile {
            font-size: 14px;
            width: 320px;
            line-height: 24px;
            padding: 0 25px;
            margin-top: 23px;
            margin-bottom: 79px;
        }
        @media @tablet {
            width: 321px;
            margin-bottom: 82px;
        }
        @media @desktop {}

    }
    .form__button {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 460px;
        margin-bottom: 50px;
        @media @mobile {
            width: 280px;
        }
        @media @tablet {
            width: 300px;
        }
        @media @desktop {}

    }
}

.form__popup--first {
    box-shadow: 0 1px 29px 0 rgba(0, 1, 1, 0.2);
    background-color: white;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: none;
    z-index: 3;
    width: 460px;

    content: '';
    @media @mobile {

        width: 320px;

    }
    @media @tablet {}
    @media @desktop {}

    h2 {
        display: block;

        text-align: center;
        width: 100%;
        font-size: 30px;
        line-height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 37px;
        width: 250px;
        margin-bottom: 22px;
        @media @mobile {
            font-size: 18px;
            line-height: 24px;
            margin-top: 40px;
        }
        @media @tablet {}
        @media @desktop {}

    }
    p {
        font-size: 18px;
        line-height: 24px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 308px;
        letter-spacing: 0.4px;
        text-align: center;
        margin-bottom: 38px;
        @media @mobile {
            font-size: 14px;
            line-height: 24px;
            margin-top: 26px;
        }
        @media @tablet {}
        @media @desktop {}

    }
    .form__button {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 53px;

    }
}

.form__popup-show {
    display: block;
}
