.main__subtitle {
    padding: 0px 20px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.3px;
    color: @dark_blue;
    margin-bottom: 34px;
}

.form__fieldset {
    padding: 0 20px;
    color: @cherry;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}

.form__user {
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    padding-left: 22px;
    display: block;

}

.form__text {
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 20px;
    letter-spacing: 0.5px;
    border: solid 2px @grey;
    color: @dark_blue;
}

.form__choice {
    padding: 0 40px;
    color: @cherry;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    display: block;
    text-align: center;
    width: 100%;
}

.form__checkbox .form__choice {
    background-color: @grey;
    padding-top: 38px;
}

.form__adventure {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 10px;
    /* padding-bottom: 42px; */
    margin-bottom: 42px;
}

.form__li {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

}


.form__checkbox,
.form__radio,
.form__radio .form__choice {
    background-color: @grey;
}

.form__adventure {
    position: relative;
}

.form__adventure input[type='checkbox'] + .checkbox_indicator {
    position: absolute; //    top: 7px;
    //    left: -1px;
    width: 23px;
    height: 23px;
    background-color: red;
    display: block; //
    background-image: url(../img/);
}

.form__check {
    display: none;
}


.form__adventure input:checked + .checkbox_indicator {
    //    width: 27px;
    //    height: 23px;
    //
    //    background-image: url(../img/svg-device/checkbox-on.svg);
}

//.form__common .form__checkbox {
//}
.form__ul {
    margin-bottom: 6px;
}

.form__common .form__contacts {
    padding-top: 10px;
}

.form__common .form__textarea {
    margin-bottom: 42px;
}

.form__radio .form__choice {
    padding-top: 40px;
    margin-bottom: 24px;
}

.form__adventure {
    position: relative;
}

.form__adventure input[type='radio'] + .radio_indicator {
    position: absolute;
    top: 7px;
    left: -1px;

    width: 25px;
    height: 25px;
    background-color: red; //    background-image: url(../img/svg-device/radio-off.svg);
}



.form__adventure input:checked + .radio_indicator {
    //    background-image: url(../img/svg-device/radio-on.svg);
}

.form__adventure {
    font-size: 18px;
    line-height: 30px;
}

.form__radio-item {
    margin-bottom: 45px;
}

.form__common .form__radio {
    padding-bottom: 2px;
    margin-bottom: 39px;
}


.form__textarea-center {
    padding-left: 20px;
    padding-right: 20px;
}

.form__field {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    padding: 20px;
    color: @dark_blue;
    margin: 0 auto;
    height: 200px;
}

.form__button {
    display: block;
    padding: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    line-height: 30px;
    text-transform: uppercase;
    background: #2aab6d;
}
