.gallery > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.gallery {
    padding-top: 33px;
}

.gallery__panorama {
    width: 320px;
    height: 137px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.gallery__panorama img {
    width: 320px;
    height: 137px;
}

.gallery__span {
    position: absolute;
    top: 0;
    background-color: @cherry;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: @white;
    right: 20px;
    padding-top: 6px;
    padding-right: 20px;
    font-weight: bold;
    padding-left: 19px;
    padding-bottom: 6px;
}

.gallery .main__subtitle {
    margin-bottom: 49px;
}

.gallery__user-comment {
    background-color: @grey;
}

.gallery__user {
    font-size: 14px;
    line-height: 24px;
    color: @dark_blue;

}

.gallery__article {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
