}
.header__link{
    font-size: 18px;
    line-height: 32px;
}
.header{
    background-color: @dark_blue;
    color: @white;
}
.header a{
    color: @white;
}
.download__link{
    font-size: 18px;
    line-height: 18px;
}
.download__choice{
    line-height: 24px;
    font-size: 14px;
}

