.options__item-headline {
    background-color: @dark_blue;
    color: @white;
    padding-top: 16px;
    padding-bottom: 13px;
    position: relative;

    @media @mobile {
        //        padding-top: 16px;
        padding-bottom: 20px;
    }
    @media @tablet {
        padding-top: 12px;
        padding-bottom: 13px;
    }
    @media @desktop {
        padding-top: 18px;
        padding-bottom: 20px;
    }

}

.options__item-headline > .options__price {

    @media @mobile {}
    @media @tablet {
        margin-bottom: -3px;
    }
    @media @desktop {
        margin-bottom: 1px;
    }

}

.options__item-headline--hit {
    background-image: url(../img/bg-hit.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 73px;
    @media @mobile {}
    @media @tablet {
        background-position: -13px 1px;

    }
    @media @desktop {
        background-image: url(../img/bg-hit-tablet.svg);
        background-position: 0px 0px;
    }

}

.options__item-headline--hit:before {
    content: "ХИТ";
    position: absolute;
    left: 12px;
    top: 17px;
    transform: rotate(-45deg);
    font-size: 14px;
    @media @mobile {}
    @media @tablet {
        left: 7px;
        top: 9px;
    }
    @media @desktop {
        left: 13px;
        top: 18px;
    }

}

.options__item-headline--first {
    background: none;
}

.options__price {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    @media @mobile {}
    @media @tablet {
        font-size: 16px;
        line-height: 30px;
    }
    @media @desktop {
        font-size: 18px;
    }

}

.options__package {
    width: 280px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid @grey;
    margin-bottom: 33px;
    @media @mobile {}
    @media @tablet {
        width: 24.8%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    @media @desktop {}

}

.options__rates {

    margin-right: auto;
    margin-left: auto;
    @media @mobile {}
    @media @tablet {
        display: flex;
        width: 620px;
    }
    @media @desktop {
        width: 940px;
    }

}

//15:35
.options {
    padding-top: 89px;
    background-color: @grey;
    padding-bottom: 26px;
    position: relative;
    @media @mobile {}
    @media @tablet {

        padding-top: 86px;
        padding-bottom: 38px;
        margin-bottom: 16px;
    }
    @media @desktop {
        padding-top: 157px;
        padding-bottom: 67px;
    }

}

.options__price--usd {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 2px;
    @media @mobile {}
    @media @tablet {
        font-size: 18px;
        line-height: 30px;
        margin-top: 0;
    }
    @media @desktop {
        font-size: 24px;
        line-height: 30px;
    }

}

.options__item {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @dark_blue;
    text-align: left;
    padding-top: 14px;
    padding-left: 23px;

    padding-bottom: 15px;
    border-top: 2px solid @grey;
    background-color: @white;
    display: flex;
    @media @mobile {}
    @media @tablet {
        text-transform: inherit;
    }
    @media @desktop {}

}

.options__item span {
    @media @mobile {}
    @media @tablet {
        display: none;
    }
    @media @desktop {}

}

.options__item--yes {
    background-image: url(../img/icon-yes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    background-position: 231px center;
    @media @mobile {}
    @media @tablet {
        //        padding-top: 28px;
        //        padding-bottom: 15px;
        padding-top: 29px;
        background-position: center;
    }
    @media @desktop {
        padding-top: 42px;
    }

}

.options__package--first {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        display: flex;
    }
    @media @desktop {}

}

.options__item--no {
    background-image: url(../img/icon-no.svg);
    background-repeat: no-repeat; //    background-position: center;
    background-position: 233px 13px;
    @media @mobile {}
    @media @tablet {
        //        padding-top: 28px;
        //        padding-bottom: 17px;
        padding-top: 29px;
        background-position: center;
    }
    @media @desktop {
        padding-top: 42px;
    }

}

.options__first-item {
    @media @mobile {}
    @media @tablet {
        padding: 7px 15px 7px 15px;

    }
    @media @desktop {
        font-size: 18px;
        line-height: 30px;
        padding: 14px 14px 14px 23px;
    }

}

.options:after {
    position: absolute;
    content: '';
    background-image: url(../img/bg-triangle-white.svg);
    left: 0;
    width: 100%;
    background-position: top;
    height: 100px;
    top: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    @media @mobile {
        top: 0;
    }
    @media @tablet {

        width: 100%;

        top: 0px;
        background-position: top;
        height: 72px;



    }
    @media @desktop {
        width: 100%;
        top: 0px;
        background-position: top;
        height: 118px;
    }
}

.options__package1,
.options__package2,
.options__package3 {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        display: block;
    }
    @media @desktop {
        display: block;
    }

}

.options__package-show {
    @media @mobile {
        display: block;
    }
    @media @tablet {}
    @media @desktop {}
    //package-show1
    //package-show2
    //package-show3
    //Денис ну ты понЕл
}

.slider-controls {
    @media @mobile {}
    @media @tablet {
        display: none;
    }
    @media @desktop {
        display: none;
    }

}

.options .container {
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        width: 960px;
        margin-left: auto;
        margin-right: auto;

    }

}
