.process .container {
    padding: 0 18px;
    @media @mobile {}
    @media @tablet {
        padding: 0px 20px;
    }
    @media @desktop {
        width: 960px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: auto;
        margin-left: auto;
    }

}

.process {
    background-color: @grey;
    width: 320px;
    @media @mobile {}
    @media @tablet {
        width: 660px;
    }
    @media @desktop {
        width: 100%;
    }

}

.process__form {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    @media @mobile {}
    @media @tablet {
        width: 660px;
        margin-left: auto;
        padding-top: 57px;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
    @media @desktop {
        width: 100%;
    }

}

.process__range-btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    margin-top: 36px;
    margin-bottom: 37px;
    @media @mobile {}
    @media @tablet {
        flex-direction: column;
        justify-content: flex-start;
        width: 60px;
        margin: 0;
        padding: 0;
    }
    @media @desktop {}

}

.process__btn-frame {
    background-image: url(#)
}

.process__range-btn button {
    width: 48px;
    height: 48px;
    background-color: red;
}

.process__range {

    width: 280px;
    position: relative;
    @media @mobile {}
    @media @tablet {
        padding: 22px 0px 22px 0px;
    }
    @media @desktop {}

}

.process__frame,
.process__casting {
    display: none;
    @media @mobile {}
    @media @tablet {
        display: block;
    }
    @media @desktop {}

}

.process__ranges {
    margin-bottom: 74px;
    @media @mobile {}
    @media @tablet {
        width: 240px;
        padding-left: 20px;
        padding-right: 28px;
    }
    @media @desktop {}

}

.process__scale {
    width: 240px;
    height: 2px;
    background-color: @dark_blue;
    margin-left: auto;
    margin-right: auto;

}

.process__toggle {
    width: 14px;
    content: '';
    height: 14px;
    border: solid 2px @cherry;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 53px;

}

.process__post,
.process__reset {
    font-size: 18px;
    line-height: 18px;
    width: 280px;
    display: block;
    box-shadow: inset 0 0 0 3px @cherry;
    border-radius: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    padding-bottom: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    border: none;
    color: @cherry;
    background-color: inherit;
}

.process__post {
    margin-bottom: 11px;
}

.process__reset {
    color: @dark_grey;
    box-shadow: inset 0 0 0 3px @dark_grey;

}

.process__settings {
    @media @mobile {}
    @media @tablet {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        outline: 1px red solid;
    }
    @media @desktop {}

}
