.research {
    display: none;
    background-color: @grey;
    @media @mobile {}
    @media @tablet {
        display: block;
        margin-bottom: 37px;
        background-color: inherit;
    }
    @media @desktop {
        background-color: @grey;
        padding-bottom: 60px;
    }
}
.research .container {
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 960px;
    }
}
.research__timer {
    @media @mobile {
        display: none;
    }
    @media @tablet {
        width: 279px;
        height: 279px;
        background-image: url(../img/icon-timer.svg);
        display: block;
        font-size: 96px;
        line-height: 149.47px;
        color: #d22856;
        font-weight: bold;
        margin-right: auto;
        padding-top: 78px;
        padding-left: 84px;
        margin-left: -10px;
        margin-top: 32px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 240px;
        position: relative;
    }
    @media @desktop {
        width: 301px;
        height: 354px;
        background-image: url(../img/icon-timer.svg);
        display: block;
        font-size: 123px;
        line-height: 149.47px;
        color: #d22856;
        font-weight: bold;
        margin-right: auto;
        padding-top: 115px;
        padding-left: 80px;
        margin-left: 0px;
        margin-top: 17px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 300px;
        position: relative;
    }
}
.research__timer:after {
    border: #d22856 solid 13px;
    width: 176px;
    height: 176px;
    position: absolute;
    border-radius: 100px;
    content: '';
    left: 39px;
    top: 57px;
    display: block;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        border: #d22856 solid 20px;
        width: 213px;
        height: 213px;
        position: absolute;
        border-radius: 150px;
        content: '';
        left: 24px;
        top: 70px;
        display: block;
    }
}
.research__block {
    width: 320px;
    margin-top: 45px;
    margin-bottom: 27px;
    @media @mobile {}
    @media @tablet {
        margin-top: 42px;
    }
    @media @desktop {
        width: 570px;
        margin-top: 80px;
    }
}
.research__headline {
    line-height: 36px;
    font-size: 30px;
    padding-right: 25px;
    margin-bottom: 11px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        margin-bottom: 20px;
    }
}
.research__text {
    line-height: 24px;
    font-size: 14px;
    color: @dark_blue;
    margin-top: 0;
    margin-bottom: 10px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.4px;
        margin-bottom: 32px;
    }
}
.research__block .research__link {
    text-decoration: underline;
    color: @cherry;
    line-height: 24px;
    font-size: 14px;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.4px;
    }
}
