.reviews__name {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 13px;
    @media @mobile {}
    @media @tablet {
        order: 2;
        padding-top: 16px;
    }
    @media @desktop {
        padding-top: 18px;
        margin-bottom: 0;
    }

}

.reviews .container {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        width: 960px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.reviews__item {
    padding-top: 24px;
    margin-bottom: 26px;
    @media @mobile {
        padding-top: 42px;
    }
    @media @tablet {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    @media @desktop {
        padding-top: 129px;
        background-image: url(../img/icon-quotes.svg);
        background-repeat: no-repeat;
        background-position: center 21%;
    }

}

.reviews__item blockquote {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.3px;
    @media @mobile {}
    @media @tablet {
        order: 1;
        font-size: 18px;
        line-height: 30px;
        color: @dark_blue;
    }
    @media @desktop {
        margin-right: auto;
        margin-left: auto;
        width: 715px;

        letter-spacing: 0.4px;
    }

}

.reviews {

    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        padding-bottom: 20px;
    }

}

.reviews .slider-controls {
    display: flex;
    @media @mobile {}
    @media @tablet {}
    @media @desktop {
        display: none;
    }

}

.reviews__name span {
    display: none;
    @media @mobile {}
    @media @tablet {
        display: block;
        font-size: 14px;
        line-height: 30px;
        color: @dark_blue;
    }
    @media @desktop {
        font-size: 18px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;

        letter-spacing: 0.4px;
    }

}

.reviews__name h3 {
    margin: 0;
    margin-bottom: 3px;
    @media @mobile {
        font-size: 18px;
        letter-spacing: 1.2px;
    }
    @media @tablet {}
    @media @desktop {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0;
        width: 300px;
        margin-left: auto;
        margin-right: auto;

    }
}

.reviews__btn {
    width: 22px;
    height: 42px;
    display: block;
    position: absolute;
    content: '';
    background-position: center;
    background-color: inherit;
    border: none;
    opacity: .6;
    outline: none;
    &:focus {
        opacity: 1;
    }

}

.reviews__btn:hover {
    cursor: pointer;
    opacity: 1;
}

.reviews__btn-left {
    background-image: url(../img/icon-review-arrow-left.svg);
    left: 10px;
    top: 177px;
    &:active {
        background-image: url(../img/icon-review-arrow-left-active.svg);
    }
}

.reviews__btn-right {
    background-image: url(../img/icon-review-arrow-right.svg);
    right: 10px;
    top: 177px;
    &:active {
        background-image: url(../img/icon-review-arrow-right-active.svg);
    }
}
