@mobile: ~ "screen and (min-width: 320px)";
@tablet: ~ "screen and (min-width: 660px)";
@desktop: ~ "screen and (min-width: 1200px)";

.selector {
    //    snippet
    @media @mobile {}
    @media @tablet {}
    @media @desktop {}
}
